@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

html, body, #root {
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
}

.signup-page {
  display: flex;
  height: 100vh;
}

/* LEFT COLUMN */

.left-columnp {
  position: relative;
  width: 65%;
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.backhome-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  display: flex;
  gap: 5px;
}

.back-button,
.home-button {
  color: #cacaca;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  padding: 5px 5px;
  transition: color 0.3s;
}

.back-button:hover,
.home-button:hover {
  color: white;
}

.side-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

/* RIGHT COLUMN */

.right-columnp {
  width: 35%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
}

.signup-header .login-logo {
  display: block;
  margin: 0 auto;
  width: 150px;
}

.signup-button,
.next-button {
  width: 100%;
}

form h1 {
  color: #333;
  text-align: left;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 5px;
}

.login-logo {
  width: 100px;
  height: auto;
  margin-bottom: 0px;
}

.next-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9cc473;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 0px;
}

.next-button:hover {
  color: #ffffff;
  background-color: #bad69e;
}

.signup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.input-grp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.input-grp input[type="text"],
input[type="password"] {
  font-family: 'Nunito', sans-serif;
  width: 48%;
  padding: 12px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type="text"] {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  margin: 5px 0;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #9cc473;
  outline: none;
}

.signup-button {
  font-family: 'Nunito', sans-serif;
  padding: 10px 139px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  background-color: #9cc473;
  color: white;
  border: 2px solid #9cc473;
  margin-top: 15px;
}

.signup-button:hover {
  background-color: transparent;
  border: 2px solid #9cc473;
  color: #9cc473;
}

.signup-footer {
  background-color: #a8a8a8;
  padding: 10px;
  color: white;
  margin-top: 65px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}

.account-text {
  margin: 20px 50px;
  font-size: 14px;
  color: #a8a8a8;
  text-align: center;
}

.create-account {
  color: #9cc473;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.create-account:hover {
  color: #bad69e;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.remember-me-checkbox {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
  accent-color: #9cc473;
}

.remember-me-label {
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.terms-and-conditions {
  margin-left: 5px;
  font-size: 14px;
  color: #9cc473;
  cursor: pointer;
  text-decoration: none;
}

.terms-and-conditions:hover {
  color: #bad69e;
}

form {
  padding-top: 0;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  flex: 1;
}

.emphasize {
  font-style: italic;
  font-weight: 400;
}
