/* src/frontend/styles/AdminSideBar.css */

/* Sidebar styling */
.sidebar {
    width: 235px;
    background-color: #bad69e;
    color: #000000;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Keep space between nav items and logout */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Sidebar header styling */
.sidebar-header {
    display: flex; /* Use flexbox to align logo and text */
    align-items: center; /* Vertically center the items */
    margin-bottom: 20px; /* Space below header */
}

.sidebar-header h2 {
    color: #fff;
    font-size: 20px; /* Adjusted font size */
    margin: 0; /* Remove default margin */
}

/* Logo styling */
.logo-sidebar{
    width: 70px; /* Adjust size as needed */
    height: 70px; /* Adjust size as needed */
    border-radius: 50%; /* Make it a circle */
    margin-right: 10px; /* Space between logo and text */
}

/* Navigation list */
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 30px;
}

.nav-list li {
    padding: 15px 10px;
    margin: 5px 0;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.nav-list li i {
    margin-right: 10px; /* Adds space between the icon and text */
}

.nav-list li:hover {
    background-color: #cacaca;
}

.nav-list li:active {
    background-color: #a8a8a8;
}

.nav-list li + li {
    margin-top: 10px;
}

/* Logout button styling */
.logout {
    margin-top: auto; /* Pushes logout button to the bottom */
}

.logout li {
    list-style: none;
    padding: 15px 10px;
    background-color: #b9b0b0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex; /* Use flex to align icon and text */
    align-items: center; /* Center the icon and text vertically */
    justify-content: center; /* Center the items horizontally */
}

.logout li i {
    margin-right: 10px; /* Adds space between icon and text */
}

.logout li:hover {
    background-color: #ff6666;
}
