/* Remove underline and apply custom font color */
.nav-list li a {
    text-decoration: none;   /* Remove the underline */
    color: #000000;          /* Set the font color to black */
    display: block;          /* Ensure the clickable area is the whole block */
    padding: 15px 10px;      /* Same padding as the list items */
}

.nav-list li a:hover {
    background-color: #e1f0d3;
    color: #000000;          /* Keep the text black on hover */
    width: 235px;
}

.active-link {
    background-color: #9cc473; /* Green background for active link */
    color: white;
    border-radius: 5px;
    padding: 15px 10px;
    width: 235px;
}

/* Sidebar styling */
.sidebar {
    width: 235px;
    background-color: #f8f9fa;
    color: #000000;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Sidebar header styling */
.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-header h2 {
    color: #9cc473;
    font-size: 20px;
    margin: 0;
}

.logo-sidebar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Navigation list */
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 30px;
}

.nav-list li {
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.nav-list li i {
    margin-right: 10px;
}

.nav-list li a:hover {
    background-color: #e1f0d3;
}

.nav-list li a:active, 
.nav-list li a.active-link {
    background-color: #9cc473;
    color: white;
}

/* Logout button styling */
.logout {
    margin-top: auto;
}

.logout li {
    list-style: none;
    padding: 15px 10px;
    background-color: #9cc473;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout li i {
    margin-right: 10px;
}

.logout li:hover {
    background-color: #ff6666;
}
